client
dev tun
proto udp
remote 192.168.18.8 1194
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server
cipher AES-256-GCM
verb 3

# Authentication
remote-cert-tls server

# Connection Details
remote {{ openvpn_server_ip }} {{ openvpn_port }}

<ca>
{{ ca_cert }}
</ca>

<cert>
{{ client_cert }}
</cert>

<key>
{{ client_key }}
</key>

<tls-crypt>
{{ tls_crypt_key }}
</tls-crypt>